@font-face {
  font-family: "Lexend"; /* Name of the font */
  src: url("./Lexend/Lexend-VariableFont_wght.ttf") format("truetype");
  font-weight: normal; /* Optional: Set the weight */
  font-style: normal; /* Optional: Set the style */
}

@font-face {
  font-family: "RedHatDisplay"; /* Name of the font */
  src: url("./Red_Hat_Display//RedHatDisplay-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal; /* Optional: Set the weight */
  font-style: normal; /* Optional: Set the style */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.news_post {
  color: gray;
  font-size: 16px;
  font-family: "Nunito Sans", sans-serif;
  padding-top: 20px;
  padding-left: 120px;
  font-weight: 100;
}

.card_whole_container {
  padding: 106px 8px;
  padding-bottom: 25px;
  margin: auto;
  width: 100%;
  max-width: 1200px;
}

.card_author {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  position: relative;
  padding-top: 15px;
}

.eye_button {
  color: #800000;
}

.comment_btn {
  color: #800000;
}

.avatar {
  background-color: #800000;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-right: 10px;
  font-size: 20px;
}

.meta {
  color: gray;
  font-size: 16px;
  font-family: "Nunito Sans", sans-serif;
}

.card_image {
  width: 800px;
  height: auto;
  object-fit: cover;
}
.description {
  color: #444;
  line-height: 1.5;
  padding-top: 30px;
  padding-bottom: 20px;
  font-size: 16px;
  font-family: "Nunito Sans", sans-serif;
}

.card_footer {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: gray;
  border-top: 1px solid lightgrey;
  padding-top: 7px;
}

.card_footer span {
  margin-right: 10px;
  font-size: 16px;
  font-family: "Nunito Sans", sans-serif;
}

.heart {
  cursor: pointer;
  color: #afa8a8; /* default color */
  transition: color 0.3s ease;
  position: relative;
  left: 5px;
}

.heart.liked {
  color: red;
}

.like-count {
  margin-left: 4px;
  font-weight: normal;
}

.card_heart {
  cursor: pointer;
  color: #afa8a8; /* default color */
  transition: color 0.3s ease;
  position: relative;
  left: 220px;
}

.card_heart.liked {
  color: red;
}

.section {
  margin: auto;
}

.section h2 {
  font-family: "Lexend";
  font-size: 42px;
}

.cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin: 10px auto;
}

.card {
  background-color: #fff;
  border-radius: 6px;
  overflow: hidden;
  width: 100%;
  max-width: 350px;
  transition: transform 0.2s;
  border: 1px solid lightgrey;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-4px);
}

.card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.card-content {
  padding: 20px;
  font-size: 16px;
  font-family: "Nunito Sans", sans-serif;
  padding-left: 16px;
}

.card-content p {
  font-size: 16px;
  font-family: "Nunito Sans", sans-serif;
}

.card-content h3 {
  font-size: 16px;
  font-family: "Lexend";
  margin-bottom: 16px;
  color: #222;
}

.card-meta {
  display: flex;
  gap: 10px;
  padding: 0 20px 20px;
  font-size: 14px;
  color: #666;
}

.card-meta div {
  display: flex;
  align-items: center;
  gap: 6px;
}

.card-meta i {
  color: #999;
}

.like {
  color: red;
}
.comment-section {
  width: 100%;
  max-width: 1200px;
  margin: 30px auto;
  background-color: white;
  border: 1px solid #ddd;
  padding: 45px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.comment-section h3 {
  margin-bottom: 10px;
  font-weight: bold;
  font-family: "Lexend";
  font-size: 24px;
  color: #800000;
  padding-bottom: 10px;
}

.comment-box {
  width: 100%;
  border: 1px solid #ccc;
  padding: 15px;
  font-size: 16px;
  resize: vertical;
  min-height: 20px;
  outline: none;
  transition: border-color 0.3s;
  font-family: "Nunito Sans", sans-serif;
}

.form_button {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 30px;
}

.comment_button {
  width: 100%;
  max-width: 140px;
  background-color: #800000;
  color: white;
  padding: 10px;
  border: 1px solid #800000;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Lexend";
}

.cancel_button {
  width: 100%;
  max-width: 140px;
  background-color: white;
  color: #800000;
  padding: 10px;
  border: 1px solid #800000;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Lexend";
}

.comment-box:focus {
  border-color: #666;
}
.recent_post {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-link {
  text-decoration: none;
  color: inherit;
}
.card-options {
  position: absolute;
  top: 0;
  right: 5px; /* adjust as needed */
  font-size: 18px;
  color: #2d3250;
  cursor: pointer;
}

.card_container {
  min-height: 100vh;
  padding-bottom: 0px;
  background-color: #f5f5f5;
}

.left-section {
  display: flex;
  justify-content: center;
  padding-top: 0px;
}

.left-section img {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  max-height: 430px;
  object-fit: cover;
  transition: opacity 0.5s ease-in-out;
}

.card_whole_container h1 {
  padding-bottom: 10px;
  font-family: "Lexend";
}

.right-section {
  flex: 1;
  padding: 40px;
  min-width: 300px;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding-top: 10px;
  background: white;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.recent_divider {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}

.right-section h1 {
  font-family: "Lexend";
  font-size: 24px;

  padding-bottom: 10px;
}

.line_quote {
  border: 2px solid #800000;
  width: 50%;
}
.line_quote1 {
  border: 2px solid #800000;
  width: 10%;
}

.activity {
  line-height: 1.5;
  padding-top: 20px;
  font-size: 16px;
  font-family: "Nunito Sans", sans-serif;
}
.quote-box {
  border-left: 4px solid #800000; /* Red vertical line */
  padding-left: 10px;
  margin-top: 30px;
  font-style: italic;
  font-size: 18px;
  font-family: "Nunito Sans", sans-serif;
  max-width: 600px;
  line-height: 1.6;
  color: #212121;
  font-family: "Nunito Sans", sans-serif;
  height: 85px;
  padding-top: 12px;
}

.form_box {
  display: flex;
  gap: 20px;
  padding-top: 25px;
}

.comment_input,
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: white;
  color: gray;
  font-size: 1rem;
  width: 100%;
}

.share-container {
  display: flex;
  align-items: center;
}

.share-label {
  font-weight: bold;
  margin-right: 10px;
  color: white;
}

.share_box {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 20px;
  background-color: white;
  margin-top: 10px;
}
.card_social-icons {
  display: flex;
  align-items: center;
  gap: 8px;
}
.card_social-icons a {
  display: inline-block;
  background-color: #800000;
  color: white;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin-right: 6px;
  font-size: 18px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.card_social-icons a:hover {
  color: #800000;
  background-color: white;
}

.card-meta_share {
  display: flex;
  gap: 17px;
  padding: 0 20px 20px;
  font-size: 14px;
  color: #800000;
}

.card-meta_share div {
  display: flex;
  align-items: center;
  gap: 6px;
}

.card-meta_share i {
  color: #800000;
}

.card_button {
  width: 100%;
  max-width: 330px;
  padding: 10px;
  background-color: white;
  color: white;
  display: flex;
  border: none;
  gap: 13px;
  align-items: baseline;
}

@media (max-width: 768px) {
  .right-section {
    flex: 1;
    padding: 40px;
    min-width: 300px;
    margin: 0;
  }

  .card_whole_container {
    padding: 100px 20px;
    padding-bottom: 0px;
    margin: 0px;
  }

  .card-meta_share {
    display: flex;
    gap: 17px;
    padding: 16px 0px 20px;
    font-size: 14px;
    color: #800000;
  }

  .share_box {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
    margin-top: 10px;
    flex-direction: column;
    gap: 0px;
  }

  .share-container {
    display: block;
  }

  .left-section {
    display: flex;
    justify-content: center;
    padding: 25px;
  }
}
