@font-face {
  font-family: "Lexend"; /* Name of the font */
  src: url("./Lexend/Lexend-VariableFont_wght.ttf") format("truetype");
  font-weight: normal; /* Optional: Set the weight */
  font-style: normal; /* Optional: Set the style */
}

@font-face {
  font-family: "RedHatDisplay"; /* Name of the font */
  src: url("./Red_Hat_Display//RedHatDisplay-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal; /* Optional: Set the weight */
  font-style: normal; /* Optional: Set the style */
}

.card,
.card2,
.card4,
.card6 {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  overflow: hidden;
  max-width: 1150px;
  margin: 50px auto;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 40px;
  margin-bottom: 40px;
}

.card1,
.card3,
.card5 {
  display: flex;
  flex-direction: row-reverse;
  background-color: #fff;
  overflow: hidden;
  max-width: 1150px;
  margin: 50px auto;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 40px;
  margin-bottom: 40px;
}

.card6 {
  border-bottom: none;
}

.card img,
.card1 img,
.card2 img,
.card3 img,
.card4 img,
.card5 img,
.card6 img {
  width: 550px;
  height: auto;
  object-fit: cover;
}

.content {
  padding: 20px;
  flex: 1;
  margin-top: 70px;
}

.author {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  position: relative;
}

.avatar {
  background-color: #4747d7;
  color: white;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-right: 10px;
  font-family: "Nunito Sans", sans-serif;
}

.meta {
  color: gray;
  font-size: 16px;
  font-family: "Nunito Sans", sans-serif;
}

.meta1 {
  color: gray;
  font-size: 16px;
  font-family: "Nunito Sans", sans-serif;
  padding-top: 5px;
}

.card_title {
  font-size: 24px;
  font-family: "Lexend";
  font-weight: bold;
  color: #2d3250;
  margin: 10px 0;
}

.description {
  color: #444;
  line-height: 1.5;
  font-size: 16px;
  font-family: "Nunito Sans", sans-serif;
}

.card_footer {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: gray;
  margin-top: 130px;
  border-top: 1px solid lightgrey;
  padding-top: 7px;
}

.card_footer span {
  margin-right: 10px;
  font-size: 16px;
  font-family: "Nunito Sans", sans-serif;
}

.heart {
  color: red;
}

.header_box {
  width: 100%;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
  background: linear-gradient(-45deg, #d3d8dc, #1e90ff, #1e90ff, #1e90ff);
}
.news_title {
  font-family: "Lexend";
  font-size: 42px;

  text-align: center;
  color: white;
}
.news_post {
  color: black;
  font-family: "Lexend";
  font-size: 42px;

  padding-top: 20px;
  padding-left: 60px;
  font-weight: 600;
}
.card-link {
  text-decoration: none;
  color: inherit;
}
.line_quote {
  border: 2px solid #4747d7;
  width: 8%;
  margin-left: 58px;
}
.card-options {
  position: absolute;
  top: 0;
  right: 5px; /* adjust as needed */
  font-size: 18px;
  color: #2d3250;
  cursor: pointer;
}

.banner {
  background: url("https://images.pexels.com/photos/32292148/pexels-photo-32292148/free-photo-of-graduating-class-group-photo-with-pinwheels.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2")
    no-repeat center center/cover;
  height: 330px;
  display: flex;
  align-items: center;
  color: white;
  position: relative;
}

.banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(7 7 7 / 40%); /* dark overlay */
  z-index: 1;
}

.banner-content {
  position: relative;
  z-index: 2;
  padding-left: 50px;
}

.banner h1 {
  font-family: "Lexend";
  font-size: 42px;
  margin: 0;
  font-weight: bold;
}

.breadcrumb {
  margin-top: 10px;
  font-size: 18px;
}

.breadcrumb .active {
  color: #4747d7;
  font-weight: bold;
  font-size: 16px;
  font-family: "Nunito Sans", sans-serif;
}

.breadcrumb .event {
  color: white;
  font-weight: bold;
  font-size: 16px;
  font-family: "Nunito Sans", sans-serif;
}

.breadcrumb .separator {
  margin: 0 10px;
  color: #4747d7;
  font-size: 16px;
  font-family: "Nunito Sans", sans-serif;
}
