@font-face {
  font-family: "Lexend"; /* Name of the font */
  src: url("./Lexend/Lexend-VariableFont_wght.ttf") format("truetype");
  font-weight: normal; /* Optional: Set the weight */
  font-style: normal; /* Optional: Set the style */
}

@font-face {
  font-family: "RedHatDisplay"; /* Name of the font */
  src: url("./Red_Hat_Display//RedHatDisplay-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal; /* Optional: Set the weight */
  font-style: normal; /* Optional: Set the style */
}

:root {
  --main-bg: #095d40;
  --main-text: #800000;
  --primary-color: #15b5fc;
  --border-color: #b3ecf7;
  --text-dark: #0f1f2e;
  --text-muted: #6b7280;
  --bg-light: #f6feff;
  --main-subTitle: #f7cb2d;
}

.filters {
  display: flex;
  align-items: center;
  padding: 20px 20px;
  gap: 15px;
  font-size: 16px;
  font-family: "Nunito Sans", sans-serif;
}

.tabs {
  display: flex;
  gap: 30px;
  padding: 20px 30px;

  font-family: "Lexend";
  font-size: 24px;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.line_quote1 {
  border: 2px solid lightgray;
  width: 90%;
  position: relative;
  left: 60px;
}

.tabs span {
  padding-bottom: 5px;
  cursor: pointer;
}

.tabs .active {
  border-bottom: 3px solid #800000;
  color: #800000;
  font-weight: bold;
  font-family: "Lexend";
}

.group_btn {
  background-color: #800000;
  border: 1px solid #800000;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Lexend";
  width: 100%;
  max-width: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.group_btn:hover {
  background-color: white;
  border: 1px solid #800000;
  color: #800000;
  padding: 10px 20px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Lexend";
  width: 100%;
  max-width: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.grp_section {
  /* margin-top: 1rem; */
  display: flex;
  padding: 0 20px;
}

.groups {
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  width: 100%;
  max-width: 1200px;
  margin: 30px auto;
  justify-content: center;
}

.group-card {
  width: 350px;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
}

.group-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.group-card-content {
  padding: 15px 15px 0px;
}
.group-card:hover .group-title {
  color: var(--main-text);
}

.group-title {
  font-size: 18px;
  font-family: "Lexend";
  font-weight: bold;
  color: black;
}

.group-meta {
  margin: 5px 0 15px;
  font-size: 14px;
  font-family: "Nunito Sans", sans-serif;
  padding-bottom: 15px;
  color: #434242;
}

.join-button {
  display: block;
  width: 100%;
  padding: 10px;
  background: linear-gradient(45deg, #800000, #800000);
  color: white;
  text-align: center;
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-size: 1em;
  margin-top: 30px;
  font-family: "Lexend";
}

.join-button:hover {
  background-color: white;
  color: #800000;
}
.group_banner {
  background: url("https://static.wixstatic.com/media/2e5f27_3555ae4c2f2d4e4ca167255ea91f5642~mv2.jpg/v1/fill/w_1897,h_626,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/2e5f27_3555ae4c2f2d4e4ca167255ea91f5642~mv2.jpg")
    no-repeat center center/cover;
  height: 400px;
  display: flex;
  align-items: center;
  color: white;
  position: relative;
}

.group_banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(0 0 0 / 40%); /* dark overlay */
  z-index: 1;
}

.group_banner-content {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  margin: auto;
}

.group_banner h1 {
  font-size: 50px;
  margin: 0;
  font-weight: bold;
  font-family: "Lexend";
}

.breadcrumb {
  margin-top: 10px;
  font-size: 18px;
}

.card-link {
  text-decoration: none;
  color: inherit;
}

.controls {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  justify-content: space-between;
}

.custom-select {
  position: relative;
  font-size: 16px;
  right: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.custom-select select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 10px 30px 10px 10px;
  font-size: 16px;
  border: 1px solid #800000;
  border-radius: 4px;
  background: white;
  font-family: "Lexend";
  color: #800000;
}
.right-panel .icon {
  color: var(--main-subTitle) !important;
}
.stats div h4 {
  color: var(--main-text);
}

.custom-select::after {
  content: "\f078"; /* Font Awesome chevron-down */
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #800000;
}

.search-box {
  position: relative;
  left: 30px;
}

.search-box input {
  padding: 10px 10px 10px 35px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.search-box .fa-search {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #888;
}
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

#signupModal .modal-content {
  background-color: #fff;
  margin: auto;
  padding: 30px;
  border-radius: 8px;
  width: 400px;
  position: relative;
  text-align: center;
  font-family: "Lexend";
}

.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  right: 15px;
  top: 10px;
  cursor: pointer;
}

.facebook-btn {
  display: flex;
  align-items: center;
  background-color: #1877f2;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  width: fit-content;
  width: 100%;
  gap: 35px;
  font-family: "Lexend";
}

.facebook-icon-wrapper {
  background-color: white;
  color: #1877f2;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}

.facebook-icon-wrapper i {
  font-size: 16px;
}

.google-btn {
  display: flex;
  align-items: center;
  background-color: white;

  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  width: fit-content;
  font-family: "Lexend";
  margin-bottom: 20px;
  margin-top: 15px;
  width: 100%;
  gap: 35px;
  border: 1px solid black;
}

.google-btn:hover {
  display: flex;
  align-items: center;
  background-color: white;
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  width: fit-content;
  font-family: "Lexend";
  margin-bottom: 20px;
  margin-top: 15px;
  width: 100%;
  gap: 35px;
  border: 1px solid black;
}

.google-icon-wrapper {
  background-color: white;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}

.google-icon-wrapper img {
  width: 18px;
  height: 18px;
}

.email-btn {
  background: white;
  color: black;
  width: 100%;
  margin: 10px 0;
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  border: 1px solid black;
}

.email-btn:hover {
  background: white;
  color: black;
  border: 1px solid black;
}

.modal_divider {
  margin: 15px 0;
  border-top: 1px solid #ccc;
  position: relative;
}

.modal_divider::after {
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  padding: 0 10px;
  color: #888;
}

.public-profile {
  margin-top: 15px;
  font-size: 14px;
  text-align: left;
}

.modal_para {
  font-size: 16px;
  font-family: "Nunito Sans", sans-serif;
}

.search-box input {
  width: 250px; /* or any width you prefer */
  padding: 8px;
  font-size: 14px;
  padding-left: 32px;
}

.custom_flex {
  display: flex;
  align-items: center;
  gap: 50px;
}

@media (max-width: 768px) {
  .tabs {
    display: flex;
    gap: 30px;
    padding: 20px 30px;
    font-family: "Lexend";
    font-size: 15px;
    width: 100%;
    max-width: 1200px;
    margin: auto;
  }

  .controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    justify-content: space-between;
  }
  .search-box {
    position: relative;
    left: 0px;
  }
  .search-box input {
    width: 720px; /* or any width you prefer */
    padding: 8px;
    font-size: 14px;
    padding-left: 32px;
  }
}

@media (max-width: 430px) {
  .tabs {
    display: flex;
    gap: 30px;
    font-family: "Lexend";
    font-size: 17px;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0;
    padding-left: 17px;
  }

  .controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    justify-content: space-between;
  }
  .search-box {
    position: relative;
    left: 0px;
  }
  .search-box input {
    width: 345px; /* or any width you prefer */
    padding: 8px;
    font-size: 14px;
    padding-left: 32px;
  }
  .custom-select select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 10px 30px 10px 10px;
    font-size: 16px;
    border: 1px solid #800000;
    border-radius: 4px;
    background: white;
    font-family: "Lexend";
    color: #800000;
    width: 100%;
  }
  .custom-select {
    position: relative;
    font-size: 16px;
    right: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 263px;
  }
}
