@font-face {
  font-family: "Lexend"; /* Name of the font */
  src: url("./Lexend/Lexend-VariableFont_wght.ttf") format("truetype");
  font-weight: normal; /* Optional: Set the weight */
  font-style: normal; /* Optional: Set the style */
}

@font-face {
  font-family: "RedHatDisplay"; /* Name of the font */
  src: url("./Red_Hat_Display//RedHatDisplay-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal; /* Optional: Set the weight */
  font-style: normal; /* Optional: Set the style */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-bg: #0f313a;
  --main-text: #ff6600;
  --primary-color: #15b5fc;
  --border-color: #b3ecf7;
  --text-dark: #0f1f2e;
  --text-muted: #6b7280;
  --bg-light: #f6feff;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #2c2c2c;
  line-height: 1.6;
}

.banner {
  background: url("https://media.istockphoto.com/id/1468140092/photo/happy-elementary-students-raising-their-hands-on-a-class-at-school.jpg?s=612x612&w=0&k=20&c=BrkqxwR_nW4WzbDCAmpQEyF-QYvML9EktH4hhCj-76U=")
    no-repeat center center/cover;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10%;
  color: white;
  position: relative;
}

.banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.banner-content {
  z-index: 2;
  max-width: 600px;
}

.banner h1 {
  font-size: 3rem;
  font-family: "Lexend";

  margin-bottom: 1rem;
}

.banner p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.banner a {
  background: none;
  color: var(--main-text);
  border: 1px solid var(--main-text);
  padding: 10px 20px;
  text-decoration: none;
  font-weight: 700;
  border-radius: 5px;
  display: inline-block;
}
.banner a:hover {
  background: var(--main-text);
  color: white;
}

.learning_section {
  max-width: 1240px;
  margin: 20px auto;
  /* background-color: #fff; */
}

.learning_section h2 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: 1rem;
  color: #1a1a1a;
  font-family: "Lexend";
}

.divider {
  width: 84px;
  height: 3px;
  background-color: var(--main-text); /* blue color */
  margin-left: 570px; /* pushes it to the right */
  margin-bottom: 3rem;
}
.nav a.active {
  color: var(--main-text) !important;
}

.learning_section-content {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  color: #666;
}

.learning_section-content p {
  flex: 1;
  max-width: 520px;
  font-size: 1.05rem;
  line-height: 1.8;
}

.know-more {
  margin-top: 30px;
  display: inline-block;
  color: #000;
  font-weight: 700;
  text-decoration: none;
  border-bottom: 1px solid rgba(74, 72, 72, 0.215);
  font-size: 1rem;
}
.know-more:hover {
  border-bottom: 1px solid black;
}

@media (max-width: 768px) {
  .learning_section h2 {
    font-size: 2rem;
  }

  .learning_section-content {
    flex-direction: column;
  }
  .divider {
    margin-left: 0px; /* pushes it to the right */
  }
  .learning_section {
    margin: 40px auto;
  }
  .stats-container {
    flex-direction: column;
  }
}

.school-stats {
  /* background-color: #f8f9ff; */
  padding: 50px 20px;
  text-align: center;
  font-family: "Lexend";
}

.school-stats h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 40px;
}

.stats-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
}

.stat-box {
  font-size: 69px;
  font-weight: bold;
  color: var(--main-text);
}

.stat-box p {
  font-size: 16px;
  font-weight: normal;
  color: #555;
  font-family: "Lexend";
}

.plus {
  font-size: 69px;
  font-family: "Lexend";

  color: var(--main-text);
}

.testimonial-section {
  background-color: #f4f6fc;
  padding: 60px 20px;
  font-family: "Nunito Sans", sans-serif;
}

.testimonial-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.testimonial-image img {
  border-radius: 10px;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.testimonial-text {
  max-width: 600px;
  /* position: relative; */
  padding-left: 20px;
  text-align: left;
}

.quote-mark {
  font-size: 69px;
  color: var(--main-text);
  display: block;
  height: 80px;
}

.quote {
  font-size: 26px;
  color: black !important;
  font-style: italic;
  margin: 20px 0;
  line-height: 1.6;
}
.quote_text {
  font-size: 18px;
  color: black !important;
  font-style: italic;
  margin: 0 !important;
  font-family: "Nunito Sans", sans-serif;

  line-height: 1.6;
}
.bg_clr {
  background: linear-gradient(180deg, #d4e7ff 0%, #e8ffff 100%);
  padding: 40px 0;
}

.author {
  font-size: 16px;
  color: #222;
  font-weight: bold;
  margin: 20px 0;
}

.circular_section {
  display: flex;
  max-width: 1240px;
  margin: auto;
}

.half_section {
  width: 50%;
}
.row_section {
  display: flex;
  align-items: anchor-center;
}
.divider.no_left {
  margin-left: 0;
  margin-bottom: 2rem;
}
.no_left_banner {
  background-color: white;
  margin-left: 0;
  margin-bottom: 2rem;
}
.section-title {
  text-align: center;
  margin-top: 40px;
  font-size: 2rem;
  font-weight: 700;
}

.academics-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  max-width: 1200px;
  margin: 2rem auto;
  padding: 0;
}

.academic-card {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: start;
  transition: transform 0.3s;
  padding: 30px;
}

.academic-card:hover {
  transform: translateY(-5px);
}

.academic-image {
  width: 100%;
  border-radius: 15px;
  object-fit: cover;
}

.academic-title {
  font-size: 24px;
  font-weight: 500;
  margin: 20px 0;
  color: white;
  font-family: "Lexend";
}

.academic-description {
  font-size: 16px;
  color: white;
  margin-bottom: 20px;
  font-family: "Nunito Sans", sans-serif;
}

@media (max-width: 600px) {
  .section-title {
    font-size: 1.5rem;
  }
}
.activities-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 68px;
  max-width: 1200px;
  margin: 80px auto;
}

.activities-section img {
  width: 100%;
  max-width: 400px;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.activities-content {
  flex: 1;
  min-width: 300px;
}
.academic-content {
  background: #0f313a;
  padding: 20px;
  border-radius: 15px;
  margin-top: 20px;
}

.activities-content h2 {
  font-size: 56px;
  font-family: "Lexend";
  margin-bottom: 20px;
  font-weight: 400;
}

.activity-item {
  margin-bottom: 20px;
}

.activity-item h4 {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  color: var(--main-text);
  font-family: "Nunito Sans", sans-serif;
}

.activity-item p {
  margin: 4px 0 0;
  color: #555;
  font-size: 16px;
  font-family: "Nunito Sans", sans-serif;
}

.bullet {
  color: var(--main-text);
  margin-right: 10px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .activities-section {
    flex-direction: column;
    padding: 40px 20px;
  }
}

.acc_section_box {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
  gap: 20px;
  justify-content: center;
}

.acc_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  background: var(--main-bg);
  gap: 10px;
  margin-bottom: 30px;
  width: 100%;
  max-width: 380px;
  flex: 1 1 calc(33.333% - 20px); /* 3 cards on large screens */
}

/* Medium screens (tablets): 2 cards per row */
@media (max-width: 992px) {
  .acc_section {
    flex: 1 1 calc(50% - 20px);
  }
}

/* Small screens (mobiles): 1 card per row */
@media (max-width: 600px) {
  .acc_section {
    flex: 1 1 100%;
  }
}

.acc_section.reverse {
  flex-direction: row-reverse;
}

.acc_section img {
  max-width: 600px;
  width: 100%;
  object-fit: cover;
  transition: transform 0.4s ease-in-out;
}

.acc_section:hover img {
  transform: scale(1.1);
}

.acc_section .content {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

.acc_section .content h2 {
  font-size: 28px;
  margin-bottom: 16px;
  color: white;
}

.acc_section .content p {
  font-size: 16px;
  color: white;
  margin-bottom: 20px;
  line-height: 1.6;
}
.acc_section .content .read_more {
  color: var(--main-text);
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.read_more {
  color: var(--main-text);
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .acc_section {
    flex-direction: column;
  }

  .acc_section_box {
    padding: 20px;
  }

  .acc_section img {
    width: 100%;
    height: auto;
  }

  .content {
    max-width: 100%;
  }
}
.max_width {
  max-width: 1240px;
  margin: 2rem auto;
}
.heading_contact {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

h2 {
  font-size: 48px;
  font-family: "Lexend";
  font-weight: 400;
}

.btn i {
  margin-left: 10px;
}
.accadamic_btn i {
  margin-left: 10px;
}

.accadamic_btn {
  background: var(--main-text);
  border: 1px solid var(--main-text);
  color: var(--main-text);
}
.our_cc_p {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: 2rem auto;
  font-size: 16px;
  font-family: "Nunito Sans", sans-serif;
  text-align: center;
}
.download_container_Box {
  max-width: 1200px;
  background-image: linear-gradient(
      112.5deg,
      rgb(214, 214, 214) 0%,
      rgb(214, 214, 214) 10%,
      rgb(195, 195, 195) 10%,
      rgb(195, 195, 195) 53%,
      rgb(176, 176, 176) 53%,
      rgb(176, 176, 176) 55%,
      rgb(157, 157, 157) 55%,
      rgb(157, 157, 157) 60%,
      rgb(137, 137, 137) 60%,
      rgb(137, 137, 137) 88%,
      rgb(118, 118, 118) 88%,
      rgb(118, 118, 118) 91%,
      rgb(99, 99, 99) 91%,
      rgb(99, 99, 99) 100%
    ),
    linear-gradient(
      157.5deg,
      rgb(214, 214, 214) 0%,
      rgb(214, 214, 214) 10%,
      rgb(195, 195, 195) 10%,
      rgb(195, 195, 195) 53%,
      rgb(176, 176, 176) 53%,
      rgb(176, 176, 176) 55%,
      rgb(157, 157, 157) 55%,
      rgb(157, 157, 157) 60%,
      rgb(137, 137, 137) 60%,
      rgb(137, 137, 137) 88%,
      rgb(118, 118, 118) 88%,
      rgb(118, 118, 118) 91%,
      rgb(99, 99, 99) 91%,
      rgb(99, 99, 99) 100%
    ),
    linear-gradient(
      135deg,
      rgb(214, 214, 214) 0%,
      rgb(214, 214, 214) 10%,
      rgb(195, 195, 195) 10%,
      rgb(195, 195, 195) 53%,
      rgb(176, 176, 176) 53%,
      rgb(176, 176, 176) 55%,
      rgb(157, 157, 157) 55%,
      rgb(157, 157, 157) 60%,
      rgb(137, 137, 137) 60%,
      rgb(137, 137, 137) 88%,
      rgb(118, 118, 118) 88%,
      rgb(118, 118, 118) 91%,
      rgb(99, 99, 99) 91%,
      rgb(99, 99, 99) 100%
    ),
    linear-gradient(90deg, rgb(195, 195, 195), rgb(228, 228, 228));
  background-blend-mode: overlay, overlay, overlay, normal;
  border-radius: 30px;
  margin: 2rem auto;
}
.download_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}
.download_container h2 {
  color: #0f313a;
  text-align: center;
}
.download_container p {
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  text-align: center;
}
.download_btn {
  border: 1px solid #ff6600;
  padding: 15px;
  cursor: pointer;
  color: var(--main-text);
  max-width: 200px;
  width: 100%;
  text-align: center;
}
.download_btn:hover {
  background-color: var(--main-text);
  color: white;
  border: 1px solid;
}

@media (max-width: 768px) {
  .download_container {
    padding: 40px 0;
  }
  h2 {
    font-size: 32px;
  }
  .max_width {
    padding: 0 20px;
  }
  .process {
    padding: 0 20px;
  }
  .container {
    padding: 0 20px !important;
  }
  .header_inner {
    padding: 0 20px;
  }
  .header_inner .btn {
    display: none;
  }
}
.addmissions_icon i {
  background-color: var(--main-text);
  padding: 15px;
  border-radius: 30px;
}
.addmissions_icon {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 2rem 0;
}
.addmissions_icon p {
  font-size: 22px;
  font-family: "Lexend";
}

.process {
  text-align: left;
  max-width: 1240px;
  margin: 2rem auto;
}

.process h2 {
  font-weight: 600;
  font-size: 48px;
  margin-bottom: 30px;
}

.steps {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.step-card {
  background: white;
  border: 1px solid var(--main-text);
  border-radius: 12px;
  padding: 24px;
  flex: 1 1 calc(25% - 24px);
  min-width: 250px;
  box-sizing: border-box;
}

.step-number {
  color: var(--main-text);
  font-size: 90px;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: "Lexend";
}

.step-card h3 {
  color: black;
  margin: 0 0 12px;
  font-weight: 600;
  font-size: 32px;
  font-family: "Lexend";
}

.step-card p {
  color: black;
  font-size: 0.95rem;
  font-family: "Nunito Sans", sans-serif;
  margin-bottom: 2rem;
  line-height: 1.6;
}
.step-card a {
  color: var(--main-text);
  cursor: pointer;
  text-decoration: none;
}
.admissions_process_des {
  max-width: 1000px;
  margin: 4rem auto;
  text-align: center;
}
.admissions_process_des h2 {
  font-size: 24px;
}

.view_more {
  display: flex;
  justify-content: center;
  margin: 4rem 0;
}
